@charset "ISO-8859-1";

body{
	display:flex;
	flex-flow: column nowrap;
	
	justify-content: center;
	align-items: center;

}

#container{
	display:flex;
	flex-flow: column nowrap;
	
	height:400px;
	
	justify-content:center;
	align-items: center;

}

#form{
	display:flex;
	flex-flow: column nowrap;
}

input, #input{
	margin:10px;
}